* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", "Times New Roman", Times, serif;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: hsl(212, 45%, 89%);
}

p.cont-title {
  font-weight: 700;
}

p.cont-para {
  font-weight: 400;
  color: hsl(216, 15%, 48%);
}

.container {
  width: 30rem;
  height: 48rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  padding: 1.2rem;
  margin-bottom: 1.2rem;

  & .cont-image img {
    width: 27rem;
    height: 29rem;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
  }

  & .cont-para,
  .cont-title {
    padding: 1rem;
  }
}

.attribution {
  color: hsl(218, 44%, 22%);
}

/***** Media Query Section *****/

@media (width <=1440) {
  html {
    font-size: 62.5%;
  }
}

@media (width <= 375px) {
  html {
    font-size: 40%;
  }
}

/***** End Media Query Section *****/
